In [2]:
from importlib import reload

# import data_general
import summary

# reload(data_general)
reload(summary)
df = summary.summary_monthly_data(
    # dataset_name='taiwan_stock_dividend_result',
    stock_id='2891',
    start_date='2005-01-03',
    end_date='2025-06-30'
)
df

2025-09-13 15:26:56.747 | INFO     | FinMind.data.finmind_api:get_data:155 - download Dataset.TaiwanStockDividendResult, data_id: 2891

讀取到本地資料，範圍從 2005-01-03 00:00:00 到 2025-06-30 00:00:00，共有5039筆資料。
本地期貨資料已存在。返回 2005-01-03 到 2025-06-30 的資料。
讀取到本地資料，範圍從 2005-07-14 00:00:00 到 2024-07-15 00:00:00，共有32筆資料。
本地資料已存在，但需要更新。正在下載從 2005-01-03 到 2025-06-30 的新資料。
正在從 FinMind 下載 2005-01-03 到 2025-06-30 的期貨資料...
成功登入 FinMind
10 / 600
下載了 2005-07-14 到 2024-07-15 的資料，共有 32 筆資料。
已合併本地與下載的資料。總共筆數: 32
最終資料範圍: 2005-07-14 到 2024-07-15

        stock_id  monthly_return  dividend_yield
month
2005-01     2891        0.000000             0.0
2005-02     2891        0.039216             0.0
2005-03     2891       -0.041779             0.0
2005-04     2891        0.005626             0.0
2005-05     2891       -0.011189             0.0
...          ...             ...             ...
2025-02     2891        0.042199             0.0
2025-03     2891       -0.031902             0.0
2025-04     2891       -0.003802             0.0
2025-05     2891        0.039440             0.0
2025-06     2891        0.069767             0.0

[246 rows x 3 columns]

In [5]:
df[df.index > '2022-12']

        stock_id  monthly_return  dividend_yield
month
2023-01     2891        0.033937        0.000000
2023-02     2891       -0.004376        0.000000
2023-03     2891       -0.039560        0.000000
2023-04     2891        0.034325        0.000000
2023-05     2891        0.075221        0.000000
2023-06     2891        0.022634        0.000000
2023-07     2891        0.056338        0.000000
2023-08     2891       -0.091429        0.038241
2023-09     2891        0.027254        0.000000
2023-10     2891       -0.006122        0.000000
2023-11     2891        0.123203        0.000000
2023-12     2891        0.036563        0.000000
2024-01     2891        0.003527        0.000000
2024-02     2891        0.033392        0.000000
2024-03     2891        0.124150        0.000000
2024-04     2891        0.031770        0.000000
2024-05     2891        0.038123        0.000000
2024-06     2891        0.069209        0.000000
2024-07     2891       -0.062087        0.044776
2024-08     2891       -0.080282        0.000000
2024-09     2891        0.053599        0.000000
2024-10     2891        0.043605        0.000000
2024-11     2891        0.041783        0.000000
2024-12     2891        0.045455        0.000000
2025-01     2891        0.000000        0.000000
2025-02     2891        0.042199        0.000000
2025-03     2891       -0.031902        0.000000
2025-04     2891       -0.003802        0.000000
2025-05     2891        0.039440        0.000000
2025-06     2891        0.069767        0.000000

In [4]:
(df['monthly_return'] + df['dividend_yield'] + 1).cumprod()

0      1.000000
1      1.039216
2      0.995798
3      1.001401
4      0.990196
         ...
241    5.597663
242    5.419087
243    5.398482
244    5.611399
245    6.002892
Length: 246, dtype: float64

In [9]:
df['yield'] = df['stock_and_cache_dividend'] / df['before_price']
df['month'] = df['date'].dt.to_period('M')
df.groupby(by='month')['yield'].sum().values

array([0.03955696, 0.02113475, 0.04739069, 0.01891551, 0.08682855,
       0.01041667, 0.04761905, 0.01426873, 0.0196468 , 0.01669449,
       0.04766667, 0.02137233, 0.06350915, 0.03198294, 0.04768089,
       0.03710575, 0.05494505, 0.03992016, 0.04496403, 0.03488372,
       0.00567201, 0.04778973, 0.04145937, 0.07042254, 0.01886364,
       0.02038505, 0.03389831, 0.05154639])